.page {
  min-width: 1280px;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main {
  width: 100%;
  height: 100%;
  background: url(./main.png) no-repeat center / cover;
}

.buttons-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  width: 100%;
  height: 100%;
  position: relative;
}

.buttons-list__item {
  position: absolute;
  box-sizing: border-box;
  min-width: 41px;
  height: 41px;

  border-radius: 50%;

  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 11px 15px;
  border-radius: 40px;
  height: 38px;
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  opacity: 0.7;
  cursor: pointer;

  background-color: transparent;
  color: #fff;
  font-size: 14px;

  padding: 0;

  flex-basis: 0;
}

.hidden {
  display: none;
}

.color_green {
  background-color: #6abf4b;
}

.color_blue {
  background-color: #3877ee;
}

.position_1 {
  top: 66.1%;
  left: 23.2%;
}

.position_2 {
  top: 26.2%;
  left: 30.2%;
}

.position_3 {
  top: 44.5%;
  left: 35.8%;
}

.position_4 {
  top: 58.2%;
  left: 56.3%;
}

.position_5 {
  top: 73.2%;
  left: 57.6%;
}

.position_6 {
  top: 37.3%;
  left: 59.8%;
}

.position_7 {
  top: 62%;
  left: 68%;
}

.position_8 {
  top: 20.8%;
  left: 71.5%;
}

.position_9 {
  top: 44%;
  left: 73.6%;
}

.position_10 {
  top: 66%;
  left: 83%;
}
